* {
    font-family: 'Times New Roman', Times, serif;
    
}

body {
    background-image: url(./Samad\ -\ Elements\ -\ Ripples\,\ Blues.jpeg);
    background-repeat: none;
    position: relative;
    background-repeat: none;
    background-size: cover;
    
}

img {
    width: 100%;
}

.hero {
    background-image: url(./back.jpeg);
    border-radius: 10px;
    

    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;

    height: 250px;
}

.hero-text {
    text-align: center;
    position: relative;
    width: 100%;
    top: 110px;
    color: rgb(163, 51, 46);
    font-size: 2rem;
}

.two-row-column {
    color: white;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 50px;
    width: 80%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 100px;
}

table,
td,
tr {
    border: 2px solid black;
    border-collapse: collapse;
    width: 100%;
    
}

table {
    width: 50%;
    text-align: center;
    padding-top: 200px;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
    color: white; 
    background-color: rgb(163, 51, 46);
    padding: 0 15px;
    border-radius: 5px;
}

a:hover {
    color: white;
    background-color: none;
}

.link {
    font-size: 50px;
    text-align: center;
    padding-bottom: 30px;
    
}

.screentrial {
    padding-top: 1000px;
}

.left-split,
.right-split {
    width: 100%;
    height: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.left-split {
    padding-left: 300px;
    background-color: aqua;
    

}

.right-split {
    padding-right: 700px;
    background-color: bisque;
}

.centering {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.centering,
img {
    width: 150px;
    border-radius: 10px;
}